.bouton1 a {
float:left;
margin:2px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:left;
vertical-align:middle;
background:none;
color:black;
text-decoration:none;
}

.bouton1 a:hover {
  float:left;
  margin:2px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:middle;
background:url(images/bouton1.png) no-repeat;

}

.bouton2 a {
float:left;
margin:2px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:left;
vertical-align:middle;
background:none;
color:black;
text-decoration:none;
}

.bouton2 a:hover {
  float:left;
  margin:2px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:middle;
background:url(images/bouton2.png) no-repeat;}

.bouton3 a {
float:left;
margin:2px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:left;
vertical-align:middle;
background:none;
color:black;
text-decoration:none;
}

.bouton3 a:hover {
  float:left;
  margin:2px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:middle;
background:url(images/bouton3.png) no-repeat;}

#biographie {

}
.bio-content{
margin-left: 110px;
margin-right: 200px;
max-width: 100%;
min-width: 10%;
text-align: left;
padding: 2em;

}
.under{
  margin-top: 100px;
line-height: 50px;
 text-decoration: underline;
 text-decoration: 20px;
 text-decoration-color: black;
 }

img {margin-left: 180px;

}

h1{font-family: 'SportingGrotesqueGras';
 font-weight: normal;
 font-style: normal;
font-size:50px;
font-style: bold;
color: #000000;
text-align:justify;
margin-bottom: 16px;
margin-left: 55px;
margin-right: 60px;

line-height: 50px;



 }

 h2{font-family: 'SportingGrotesqueGras';
  font-weight: normal;
  font-style: normal;
 font-size:50px;
 font-style: bold;
 color: #000000;
 text-align:justify;
 margin-bottom: 16px;
 margin-left: 55px;
 margin-right: 60px;

 line-height: 50px;
}

p{font-family: 'SportingGrotesqueGras';
 font-weight: normal;
 font-style: normal;
font-size:70px;
font-style: bold;
color: #000000;
text-align:justify;
margin-bottom: 16px;
margin-left: 200px;


line-height: 50px;
}
p1{font-family: 'SportingGrotesqueGras';
 font-weight: normal;
 font-style: normal;
font-size:29px;
font-style: bold;
color: #000000;
text-align:justify;
margin-bottom: 16px;
margin-left: 200px;


line-height: 50px;
}
