
header {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 5px;
  min-width: 540px;
  min-height: 300px;
  padding: 0px;


}



.langues a {
float:left;
  margin:2px;
  margin-left: -65px;
  display:block;
  width:150px;
  line-height:100px;
  font-family: 'SportingGrotesqueGras';
  font-size:15px;
     font-weight: normal;
     font-style: normal;
  text-align:left;

  background:none;
  color:black;
  text-decoration:none;



}



.langues a:hover {


  margin:2px;
  margin-left: -65px;
  display:block;
  width:150px;
  line-height:100px;


background:url(images/langue.png) no-repeat;


}


#navbar {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 5px;
  min-width: 540px;
  min-height: 800px;
  padding: 0px;
}



.bouton1 a {
float:left;
margin:9px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:left;
vertical-align:left;
background:none;
color:black;
text-decoration:none;
}

.bouton1 a:hover {
  float:left;
margin:9px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:left;
background:url(images/bouton1.png) no-repeat;

}

.bouton2 a {
float:left;
margin:9px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:center;
vertical-align:middle;
background:none;
color:black;
text-decoration:none;
}

.bouton2 a:hover {
  float:left;
margin:9px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:middle;
background:url(images/bouton2.png) no-repeat;}

.bouton3 a {
float:left;
margin:9px;
display:block;
width:150px;
line-height:100px;
font-family: 'SportingGrotesqueGras';
font-size: 30px;
   font-weight: normal;
   font-style: normal;
text-align:right;
vertical-align:right;
background:none;
color:black;
text-decoration:none;
}

.bouton3 a:hover {
  float:left;
margin:9px;
  display:block;
  width:150px;
  line-height:100px;
  vertical-align:right;
background:url(images/bouton3.png) no-repeat;}


#biographie {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 5px;
  min-width: 540px;
  min-height: 800px;
  padding: 0px;



}



#galerie_photo {
  max-width: 100%;
  min-width: 10%;
  text-align: left;
  padding: 15em;
    margin-left: -50px;
}

#galerie_photo .GPimg {
max-width: 32%;
width: 170px;
height: 170px;       /* Hauteur des images */
display: inline-block;
background-position: 50% 50%;
background-size: cover;
padding: 40;
margin: 20;
}





marquee {
margin-top: -100px;
  margin-left:235px;
  margin-right: 245px;
  min-width: 540px;
  min-height: 5px;
  padding: 0px;


}
